In [24]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from datetime import datetime

# Lyft Data Challenge
## Team BowTieBoys
#### Jacob Lebowitz
#### Tiger Gamble

# Need to build dataset with: 
INDEX: Driver ID  <br>
COLUMNS:  <br>
    1) onboard_date <br>
    2) total miles driven in a week <br>
    3) total time driven in a week <br>
    4) ride prime time given in a week <br>
    5) How many rides had prime time <br>
    5) money made in a week <br>
    6) time wasted from appected_at to arrived_at <br>
    7) Money made from accepted at to dropped of at <br>
    8) money made from pickedup at to dropped of at <br>

In [2]:
# Driver data
driver_df = pd.read_csv('driver_ids.csv')
driver_df['driver_onboard_date'] =  pd.to_datetime(driver_df['driver_onboard_date'])
driver_df.sort_values(by='driver_onboard_date', ascending=True, inplace=True)

# Ride data
ride_df = pd.read_csv('ride_ids.csv')
# Converting ride distance from meters to miles
ride_df['ride_distance'] = ride_df['ride_distance'].apply(lambda x: x * 0.000621371192)
# Converting ride duration from seconds to minutes
ride_df['ride_duration'] = ride_df['ride_duration'].apply(lambda x: x / 60)

# Timestamp data
timestamps_df = pd.read_csv('ride_timestamps.csv')
timestamps_df['timestamp'] =  pd.to_datetime(timestamps_df['timestamp'])

In [3]:
# 937 unique drivers
# all drivers have onboard dates
driver_df.head()

                            driver_id driver_onboard_date
432  72ca99bb6667024a23e1f68904b06fd0          2016-03-28
907  f86eb77e1cefe28e9f0e9d3775fae261          2016-03-28
107  1e9b964b3e3d0289794289579269247a          2016-03-28
895  f1b4411717c78f67380366c2a16a4d1e          2016-03-28
889  f0df79d10df44f18742682108b17f60a          2016-03-28

In [4]:
# 937 unique
# 193,502 unqiue Rides
ride_df.head()

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1.125303,5.450000,50
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,2.089050,13.483333,0
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,2.039340,9.533333,0
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,40.564976,55.633333,25
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,2.556942,13.716667,100

In [5]:
# Timestamp is missing one datapoint
# Need to delete the entire ride because of missing timestamp for event
# 194,081 unique rides
# 970,405 different event entries
timestamps_df.head()

                            ride_id           event           timestamp
0  00003037a262d9ee40e61b5c0718f7f0    requested_at 2016-06-13 09:39:19
1  00003037a262d9ee40e61b5c0718f7f0     accepted_at 2016-06-13 09:39:51
2  00003037a262d9ee40e61b5c0718f7f0      arrived_at 2016-06-13 09:44:31
3  00003037a262d9ee40e61b5c0718f7f0    picked_up_at 2016-06-13 09:44:33
4  00003037a262d9ee40e61b5c0718f7f0  dropped_off_at 2016-06-13 10:03:05

In [6]:
# Finding the ride where timestamp has a missing value
timestamps_df[timestamps_df['timestamp'].isnull()]

                                 ride_id       event timestamp
434222  72f0fa0bd86800e9da5c4dced32c8735  arrived_at       NaT

In [7]:
# Removing that ride from the dataframe
timestamps_df = timestamps_df[timestamps_df['ride_id'] != '72f0fa0bd86800e9da5c4dced32c8735']

In [8]:
# 194,080 different rides 
# 970,400 different event entries
timestamps_df.head()

                            ride_id           event           timestamp
0  00003037a262d9ee40e61b5c0718f7f0    requested_at 2016-06-13 09:39:19
1  00003037a262d9ee40e61b5c0718f7f0     accepted_at 2016-06-13 09:39:51
2  00003037a262d9ee40e61b5c0718f7f0      arrived_at 2016-06-13 09:44:31
3  00003037a262d9ee40e61b5c0718f7f0    picked_up_at 2016-06-13 09:44:33
4  00003037a262d9ee40e61b5c0718f7f0  dropped_off_at 2016-06-13 10:03:05

In [9]:
# Merging timestamps_df and ride_df while removing all rides that are not 1:1 matches
all_ride_data_df = timestamps_df.merge(ride_df, on='ride_id', how='inner')

In [10]:
# 844 drivers
# 924,090 different event entries
# 184,818 different rides
all_ride_data_df.head()

,ride_id,event,timestamp,driver_id,ride_distance,ride_duration,ride_prime_time
0,00003037a262d9ee40e61b5c0718f7f0,requested_at,2016-06-13 09:39:19,d967f5296732fa55266b5f1314e7447b,2.297831,18.533333,0
1,00003037a262d9ee40e61b5c0718f7f0,accepted_at,2016-06-13 09:39:51,d967f5296732fa55266b5f1314e7447b,2.297831,18.533333,0
2,00003037a262d9ee40e61b5c0718f7f0,arrived_at,2016-06-13 09:44:31,d967f5296732fa55266b5f1314e7447b,2.297831,18.533333,0
3,00003037a262d9ee40e61b5c0718f7f0,picked_up_at,2016-06-13 09:44:33,d967f5296732fa55266b5f1314e7447b,2.297831,18.533333,0
4,00003037a262d9ee40e61b5c0718f7f0,dropped_off_at,2016-06-13 10:03:05,d967f5296732fa55266b5f1314e7447b,2.297831,18.533333,0

In [11]:
# Merging ride_df and driver_df while removing all drivers that are not 1:1 matches 
# Building total ride duration, distance, and prime time colums as well
all_driver_data_df = ride_df.copy() 

all_driver_data_df = all_driver_data_df.merge(driver_df, on='driver_id', how='inner')
all_driver_data_df['total_distance'] = all_driver_data_df.groupby('driver_id')['ride_distance'].transform('sum')
all_driver_data_df['total_duration'] = all_driver_data_df.groupby('driver_id')['ride_duration'].transform('sum')
all_driver_data_df['total_prime_time'] = all_driver_data_df.groupby('driver_id')['ride_prime_time'].transform('sum')
all_driver_data_df.drop(['ride_id', 'ride_distance', 'ride_duration', 'ride_prime_time'], axis=1, inplace=True)
all_driver_data_df = all_driver_data_df.drop_duplicates('driver_id')

In [12]:
# 854 unique drivers
all_driver_data_df.head()

,driver_id,driver_onboard_date,total_distance,total_duration,total_prime_time
0,002be0ffdc997bd5c50703158b7c2491,2016-03-29,1081.364208,3687.300000,5375
277,007f0389f9c7b03ef97098422f902e62,2016-03-29,73.030378,341.616667,625
308,011e5c5dfc5c2c92501b8b24d47509bc,2016-04-05,167.554606,486.750000,675
342,0152a2f305e71d26cc964f8d4411add9,2016-04-23,914.185531,2908.683333,2050
533,01674381af7edd264113d4e6ed55ecda,2016-04-29,1940.942396,5957.383333,4700

In [13]:
# Need to remove driver_ids that are not a 1:1 match between key dataframes
temp_df = all_driver_data_df.merge(all_ride_data_df, on='driver_id', how='inner')
important_driver_ids = temp_df['driver_id'].unique()

In [14]:
# create new dataframes that have only the 1:1 matches
updated_driver_data_df = all_driver_data_df[all_driver_data_df['driver_id'].isin(important_driver_ids)]
updated_ride_data_df = all_ride_data_df[all_ride_data_df['driver_id'].isin(important_driver_ids)]

In [15]:
# 837 unique drivers
updated_driver_data_df.head()

,driver_id,driver_onboard_date,total_distance,total_duration,total_prime_time
0,002be0ffdc997bd5c50703158b7c2491,2016-03-29,1081.364208,3687.300000,5375
277,007f0389f9c7b03ef97098422f902e62,2016-03-29,73.030378,341.616667,625
308,011e5c5dfc5c2c92501b8b24d47509bc,2016-04-05,167.554606,486.750000,675
342,0152a2f305e71d26cc964f8d4411add9,2016-04-23,914.185531,2908.683333,2050
533,01674381af7edd264113d4e6ed55ecda,2016-04-29,1940.942396,5957.383333,4700

In [16]:
# 837 unique drivers
# 921,040 unique event entries
# 184,208 unique rides 
updated_ride_data_df.head()

,ride_id,event,timestamp,driver_id,ride_distance,ride_duration,ride_prime_time
0,00003037a262d9ee40e61b5c0718f7f0,requested_at,2016-06-13 09:39:19,d967f5296732fa55266b5f1314e7447b,2.297831,18.533333,0
1,00003037a262d9ee40e61b5c0718f7f0,accepted_at,2016-06-13 09:39:51,d967f5296732fa55266b5f1314e7447b,2.297831,18.533333,0
2,00003037a262d9ee40e61b5c0718f7f0,arrived_at,2016-06-13 09:44:31,d967f5296732fa55266b5f1314e7447b,2.297831,18.533333,0
3,00003037a262d9ee40e61b5c0718f7f0,picked_up_at,2016-06-13 09:44:33,d967f5296732fa55266b5f1314e7447b,2.297831,18.533333,0
4,00003037a262d9ee40e61b5c0718f7f0,dropped_off_at,2016-06-13 10:03:05,d967f5296732fa55266b5f1314e7447b,2.297831,18.533333,0

In [17]:
# Holds how many rides driven for a driver
rides_driven = updated_ride_data_df.groupby('driver_id')['ride_id'].nunique()
updated_driver_data_df['rides_given'] = rides_driven.values

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [18]:
updated_driver_data_df.head()

,driver_id,driver_onboard_date,total_distance,total_duration,total_prime_time,rides_given
0,002be0ffdc997bd5c50703158b7c2491,2016-03-29,1081.364208,3687.300000,5375,277
277,007f0389f9c7b03ef97098422f902e62,2016-03-29,73.030378,341.616667,625,31
308,011e5c5dfc5c2c92501b8b24d47509bc,2016-04-05,167.554606,486.750000,675,34
342,0152a2f305e71d26cc964f8d4411add9,2016-04-23,914.185531,2908.683333,2050,191
533,01674381af7edd264113d4e6ed55ecda,2016-04-29,1940.942396,5957.383333,4700,375

In [19]:
updated_ride_data_df.head()

,ride_id,event,timestamp,driver_id,ride_distance,ride_duration,ride_prime_time
0,00003037a262d9ee40e61b5c0718f7f0,requested_at,2016-06-13 09:39:19,d967f5296732fa55266b5f1314e7447b,2.297831,18.533333,0
1,00003037a262d9ee40e61b5c0718f7f0,accepted_at,2016-06-13 09:39:51,d967f5296732fa55266b5f1314e7447b,2.297831,18.533333,0
2,00003037a262d9ee40e61b5c0718f7f0,arrived_at,2016-06-13 09:44:31,d967f5296732fa55266b5f1314e7447b,2.297831,18.533333,0
3,00003037a262d9ee40e61b5c0718f7f0,picked_up_at,2016-06-13 09:44:33,d967f5296732fa55266b5f1314e7447b,2.297831,18.533333,0
4,00003037a262d9ee40e61b5c0718f7f0,dropped_off_at,2016-06-13 10:03:05,d967f5296732fa55266b5f1314e7447b,2.297831,18.533333,0

In [20]:
# Get last and first ride date for every driver
last_ride_date = updated_ride_data_df.groupby('driver_id')['timestamp'].max().values
first_ride_date = updated_ride_data_df.groupby('driver_id')['timestamp'].min().values

updated_driver_data_df['first_ride_date'] = first_ride_date
updated_driver_data_df['last_ride_date'] = last_ride_date

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [58]:
# Get days since last drive for each driver (in the dataset)

last_ride_in_data = datetime.strptime('2016-06-27  00:50', '%Y-%m-%d %H:%M')
days_since_last_drive = last_ride_in_data - updated_driver_data_df['last_ride_date']
updated_driver_data_df['days_since_last_drive'] = days_since_last_drive

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [69]:
# Get days till first ride since sign up (shows sign of excitemnet or either need to drive possibly)

days_till_first_ride = updated_driver_data_df['first_ride_date'] - updated_driver_data_df['driver_onboard_date'].values
updated_driver_data_df['days_till_first_ride'] = days_till_first_ride

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [76]:
# Getting drivers days of being a lyft driver

days_being_a_lyft_driver = updated_driver_data_df['last_ride_date'] - updated_driver_data_df['driver_onboard_date'].values
updated_driver_data_df['days_being_a_lyft_driver'] = days_being_a_lyft_driver

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [77]:
updated_driver_data_df.head()

,driver_id,driver_onboard_date,total_distance,total_duration,total_prime_time,rides_given,first_ride_date,last_ride_date,days_since_last_drive,days_till_first_ride,days_being_a_lyft_driver
0,002be0ffdc997bd5c50703158b7c2491,2016-03-29,1081.364208,3687.300000,5375,277,2016-03-29 18:46:50,2016-06-23 10:29:53,3 days 14:20:07,0 days 18:46:50,86 days 10:29:53
277,007f0389f9c7b03ef97098422f902e62,2016-03-29,73.030378,341.616667,625,31,2016-03-29 22:28:28,2016-06-22 13:28:38,4 days 11:21:22,0 days 22:28:28,85 days 13:28:38
308,011e5c5dfc5c2c92501b8b24d47509bc,2016-04-05,167.554606,486.750000,675,34,2016-04-05 10:54:51,2016-06-12 20:30:38,14 days 04:19:22,0 days 10:54:51,68 days 20:30:38
342,0152a2f305e71d26cc964f8d4411add9,2016-04-23,914.185531,2908.683333,2050,191,2016-04-25 15:59:20,2016-06-26 10:36:13,0 days 14:13:47,2 days 15:59:20,64 days 10:36:13
533,01674381af7edd264113d4e6ed55ecda,2016-04-29,1940.942396,5957.383333,4700,375,2016-04-29 07:50:40,2016-06-24 13:27:38,2 days 11:22:22,0 days 07:50:40,56 days 13:27:38

In [100]:
# Lyft Pricing
serivce_fee = 1.75
base_fare = 2.00
mile = 1.15
minute = .22
min_fare = 5.00
max_fare = 400.00

# Get ride fare for every ride
cleaned_ride_fares = []
ride_fares = base_fare + serivce_fee + (updated_ride_data_df['ride_distance'] * mile) + (updated_ride_data_df['ride_duration'] * minute).values

# Loop to catch for min and max fare prices
for fare in ride_fares:
    if fare >= 400.00:
        cleaned_ride_fares.append(400.00)
    elif fare <= 5.00:
        cleaned_ride_fares.append(5.00)
    else:
        cleaned_ride_fares.append(fare)
        
updated_ride_data_df['ride_fare'] = cleaned_ride_fares

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [119]:
updated_ride_data_df.head()

,ride_id,event,timestamp,driver_id,ride_distance,ride_duration,ride_prime_time,ride_fare
0,00003037a262d9ee40e61b5c0718f7f0,requested_at,2016-06-13 09:39:19,d967f5296732fa55266b5f1314e7447b,2.297831,18.533333,0,10.469839
1,00003037a262d9ee40e61b5c0718f7f0,accepted_at,2016-06-13 09:39:51,d967f5296732fa55266b5f1314e7447b,2.297831,18.533333,0,10.469839
2,00003037a262d9ee40e61b5c0718f7f0,arrived_at,2016-06-13 09:44:31,d967f5296732fa55266b5f1314e7447b,2.297831,18.533333,0,10.469839
3,00003037a262d9ee40e61b5c0718f7f0,picked_up_at,2016-06-13 09:44:33,d967f5296732fa55266b5f1314e7447b,2.297831,18.533333,0,10.469839
4,00003037a262d9ee40e61b5c0718f7f0,dropped_off_at,2016-06-13 10:03:05,d967f5296732fa55266b5f1314e7447b,2.297831,18.533333,0,10.469839

In [143]:
# Get total money made for each
gb = updated_ride_data_df.groupby('event').get_group('requested_at')[['driver_id', 'ride_fare']]
total_money_made = gb.groupby('driver_id')['ride_fare'].sum().values
updated_driver_data_df['total_money_made'] = total_money_made

In [146]:
updated_driver_data_df

,driver_id,driver_onboard_date,total_distance,total_duration,total_prime_time,rides_given,first_ride_date,last_ride_date,days_since_last_drive,days_till_first_ride,days_being_a_lyft_driver,total_money_made
0,002be0ffdc997bd5c50703158b7c2491,2016-03-29,1081.364208,3687.300000,5375,277,2016-03-29 18:46:50,2016-06-23 10:29:53,3 days 14:20:07,0 days 18:46:50,86 days 10:29:53,3094.036830
277,007f0389f9c7b03ef97098422f902e62,2016-03-29,73.030378,341.616667,625,31,2016-03-29 22:28:28,2016-06-22 13:28:38,4 days 11:21:22,0 days 22:28:28,85 days 13:28:38,275.486346
308,011e5c5dfc5c2c92501b8b24d47509bc,2016-04-05,167.554606,486.750000,675,34,2016-04-05 10:54:51,2016-06-12 20:30:38,14 days 04:19:22,0 days 10:54:51,68 days 20:30:38,427.272797
342,0152a2f305e71d26cc964f8d4411add9,2016-04-23,914.185531,2908.683333,2050,191,2016-04-25 15:59:20,2016-06-26 10:36:13,0 days 14:13:47,2 days 15:59:20,64 days 10:36:13,2409.443656
533,01674381af7edd264113d4e6ed55ecda,2016-04-29,1940.942396,5957.383333,4700,375,2016-04-29 07:50:40,2016-06-24 13:27:38,2 days 11:22:22,0 days 07:50:40,56 days 13:27:38,4949.082520
908,0213f8b59219e32142711992ca4ec01f,2016-04-07,969.286864,2997.966667,2475,240,2016-04-07 19:02:15,2016-05-07 22:21:02,50 days 02:28:58,0 days 19:02:15,30 days 22:21:02,2675.233483
1148,021e5cd15ef0bb3ec20a12af99e142b3,2016-05-07,160.108715,840.783333,1200,53,2016-05-07 15:22:28,2016-06-25 20:22:52,1 days 04:27:08,0 days 15:22:28,49 days 20:22:52,567.847356
1201,0258e250ca195cc6258cbdc75aecd853,2016-04-26,1531.439518,4485.916667,3500,302,2016-04-26 13:44:14,2016-06-26 20:45:14,0 days 04:04:46,0 days 13:44:14,61 days 20:45:14,3881.412144
1503,028b5a4dcd7f4924ebfabcf2e814c014,2016-05-06,1834.673630,5842.816667,3975,363,2016-05-06 16:41:19,2016-06-26 17:22:28,0 days 07:27:32,0 days 16:41:19,51 days 17:22:28,4757.243083
1866,02d6a6b8a6da15fc219a9570f7ebbe78,2016-05-03,994.019302,1608.116667,225,62,2016-05-03 11:38:56,2016-06-23 15:52:47,3 days 08:57:13,0 days 11:38:56,51 days 15:52:47,1504.404345
1928,02e440f6c209206375833cef02e0cbae,2016-03-31,283.019044,833.683333,800,56,2016-03-31 11:23:26,2016-05-18 08:40:04,39 days 16:09:56,0 days 11:23:26,48 days 08:40:04,718.882234
1984,036f3d94e7c65e4e3574822d31c72656,2016-04-09,984.737880,3355.500000,2600,204,2016-04-10 15:12:15,2016-06-24 17:39:59,2 days 07:10:01,1 days 15:12:15,76 days 17:39:59,2636.470912
2188,039c5afbca8e03e4c18d9c8ea94140ac,2016-04-12,152.578939,507.166667,450,38,2016-04-12 21:10:03,2016-06-12 22:00:35,14 days 02:49:25,0 days 21:10:03,61 days 22:00:35,430.002947
2226,039da9c077e17af98ca8530e4d7975f1,2016-05-04,1321.150108,5052.216667,8850,396,2016-05-04 20:07:36,2016-06-26 01:41:26,0 days 23:08:34,0 days 20:07:36,53 days 01:41:26,4117.081278
2622,03f2b5c74cb89f39e58711699e76bf39,2016-04-10,844.391876,3570.016667,3300,223,2016-04-10 14:12:55,2016-06-25 16:22:47,1 days 08:27:13,0 days 14:12:55,76 days 16:22:47,2592.704324
2845,03f5278eb43475aa6790f5be32463755,2016-04-12,1407.899119,5366.550000,6975,370,2016-04-12 19:05:20,2016-06-24 17:42:45,2 days 07:07:15,0 days 19:05:20,73 days 17:42:45,4187.224986
3215,0430df9a3eb327122c57ee3a64765000,2016-04-05,157.983626,593.983333,325,43,2016-04-05 17:05:44,2016-04-13 21:24:28,74 days 03:25:32,0 days 17:05:44,8 days 21:24:28,473.607503
3258,04c4ffa5a385eab86fa7e422263d2999,2016-04-07,289.678900,955.733333,1450,55,2016-04-07 06:15:25,2016-05-07 18:41:43,50 days 06:08:17,0 days 06:15:25,30 days 18:41:43,749.704675
3313,04d686ef2fba281e395992a28f14fdd3,2016-05-14,1606.150704,4518.116667,4775,318,2016-05-14 08:02:44,2016-06-24 12:52:57,2 days 11:57:03,0 days 08:02:44,41 days 12:52:57,4035.488421
3631,052bba06c5fc0bdea4bc2f9cb92b37c7,2016-04-15,224.820796,783.433333,850,56,2016-04-15 14:47:26,2016-06-20 18:15:42,6 days 06:34:18,0 days 14:47:26,66 days 18:15:42,641.519078
3687,059ed570673c2d15ca11dd6b3a25513b,2016-05-12,194.966396,542.233333,325,32,2016-05-12 10:01:46,2016-06-20 16:17:25,6 days 08:32:35,0 days 10:01:46,39 days 16:17:25,463.502689
3719,05addf442c147875efa5cf53453ad47b,2016-04-08,1396.231632,4970.033333,8250,344,2016-04-08 20:56:31,2016-06-26 11:28:06,0 days 13:21:54,0 days 20:56:31,79 days 11:28:06,3989.193564
4063,05bad02e08c7f849e91dc1259da8b4ec,2016-05-12,254.688246,708.300000,775,46,2016-05-12 20:32:38,2016-06-12 02:34:40,14 days 22:15:20,0 days 20:32:38,31 days 02:34:40,621.217482
4109,0656192a402808805282e60761bda088,2016-04-30,1640.872305,4182.800000,4925,315,2016-04-30 01:47:24,2016-06-27 00:05:27,0 days 00:44:33,0 days 01:47:24,58 days 00:05:27,3992.005129
4424,06b1ba06e5505f8218ec8686498f990a,2016-05-11,137.942541,585.100000,1200,44,2016-05-11 12:48:30,2016-05-24 15:05:16,33 days 09:44:44,0 days 12:48:30,13 days 15:05:16,452.811375
4468,06c848ab3a7fc5421e82e98850a81710,2016-04-20,1564.097545,5292.266667,5100,400,2016-04-20 10:07:22,2016-06-26 23:38:02,0 days 01:11:58,0 days 10:07:22,67 days 23:38:02,4463.429623
4868,07dd442e3e0b9f0f9b0d69c7b47cbb06,2016-04-08,1043.366738,4182.783333,2825,286,2016-04-08 21:25:29,2016-06-21 16:46:49,5 days 08:03:11,0 days 21:25:29,74 days 16:46:49,3195.103497
5154,07e6a2fdaadc640cca9a7bec41351065,2016-05-14,65.914435,253.783333,375,22,2016-05-14 22:13:41,2016-06-19 23:40:11,7 days 01:09:49,0 days 22:13:41,36 days 23:40:11,214.133933
5176,081d8ba3bc9a00a481df02bd9d0a4c53,2016-04-04,569.031854,2574.400000,2900,192,2016-04-04 12:37:20,2016-06-24 15:39:53,2 days 09:10:07,0 days 12:37:20,81 days 15:39:53,1940.754632
5368,0822973f3e812a68a867962dbbd37f5d,2016-05-08,111.761687,424.733333,575,36,2016-05-08 02:12:20,2016-06-04 01:05:21,22 days 23:44:39,0 days 02:12:20,27 days 01:05:21,357.096465
...,...,...,...,...,...,...,...,...,...,...,...,...
180226,f696de645de36b56677457d2d3136524,2016-04-20,135.235226,448.016667,625,29,2016-04-20 18:13:20,2016-06-16 21:49:06,10 days 03:00:54,0 days 18:13:20,57 days 21:49:06,362.834177
180255,f758703e18f588f2370783f8b779e664,2016-03-29,133.428279,413.666667,400,31,2016-03-29 16:27:23,2016-04-29 18:06:01,58 days 06:43:59,0 days 16:27:23,31 days 18:06:01,360.699187
180286,f7858e1e354a9fa26b3055bc12a4ee5b,2016-04-19,2028.272388,7158.966667,4625,428,2016-04-19 09:34:27,2016-06-24 13:52:10,2 days 10:57:50,0 days 09:34:27,66 days 13:52:10,5513.874306
180714,f86eb77e1cefe28e9f0e9d3775fae261,2016-03-28,237.420340,701.750000,450,50,2016-03-28 20:53:24,2016-06-23 21:25:10,3 days 03:24:50,0 days 20:53:24,87 days 21:25:10,615.100698
180764,f91254f1c1b3112ef3464e477d23c9e8,2016-05-01,128.294510,367.433333,1025,29,2016-05-01 23:25:05,2016-06-05 02:33:02,21 days 22:16:58,0 days 23:25:05,35 days 02:33:02,337.124020
180793,f98673773627b4b8d152e2b168b85bb2,2016-05-15,233.544227,579.716667,375,35,2016-05-15 09:19:28,2016-06-19 16:19:06,7 days 08:30:54,0 days 09:19:28,35 days 16:19:06,527.363527
180828,f9aa6d69d74e786544027a1ab3049f44,2016-04-27,1289.881467,5506.400000,10775,400,2016-04-27 18:47:19,2016-06-24 19:51:57,2 days 04:58:03,0 days 18:47:19,58 days 19:51:57,4195.709123
181228,fac81ea6cbd540c89c7eee17e851a233,2016-04-30,160.462897,554.233333,450,50,2016-04-30 16:49:37,2016-06-04 17:03:56,22 days 07:46:04,0 days 16:49:37,35 days 17:03:56,493.963664
181278,faebff3d5429ff2036c125a91df765c8,2016-03-28,238.175306,572.800000,75,48,2016-03-28 22:44:59,2016-04-25 21:38:15,62 days 03:11:45,0 days 22:44:59,28 days 21:38:15,579.917602
181326,fb83fc6555a4f700fd92630d9fcb9cea,2016-04-28,339.990704,822.650000,875,50,2016-04-28 23:09:43,2016-05-27 19:55:22,30 days 04:54:38,0 days 23:09:43,29 days 19:55:22,761.025046
181376,fb903879c556260ae2604ae0c45cb92a,2016-05-02,1200.970084,3458.866667,4675,218,2016-05-02 21:53:56,2016-06-19 22:37:14,7 days 02:12:46,0 days 21:53:56,48 days 22:37:14,2961.343856
181594,fba8372d56b91b1bff7b71d970b5af58,2016-04-01,480.612597,1364.150000,800,83,2016-04-01 13:00:06,2016-05-30 22:35:35,27 days 02:14:25,0 days 13:00:06,59 days 22:35:35,1164.067487
181677,fbe0433e5b1a3db9dc9d6ed21efc6148,2016-05-08,286.074326,689.816667,1075,43,2016-05-08 19:40:29,2016-06-19 01:57:47,7 days 22:52:13,0 days 19:40:29,42 days 01:57:47,643.108961
181720,fc3504d2efaaaa976a33b3c856927155,2016-04-24,1346.333040,3479.483333,1775,218,2016-04-24 08:38:44,2016-06-26 17:46:47,0 days 07:03:13,0 days 08:38:44,63 days 17:46:47,3131.902678
181938,fc83b793850ea70d9e898afd0b3ef592,2016-04-15,1160.256601,3603.916667,4325,245,2016-04-15 18:44:33,2016-06-26 23:30:41,0 days 01:19:19,0 days 18:44:33,72 days 23:30:41,3046.779874
182183,fd2130d0d215069168dc2f79c1f5ae44,2016-04-08,1433.312579,4305.216667,6225,331,2016-04-08 20:54:30,2016-06-26 04:02:55,0 days 20:47:05,0 days 20:54:30,79 days 04:02:55,3836.743600
182514,fd39748ba122e84e9ac492e6fb7c7a05,2016-04-17,1133.546960,4343.766667,5475,323,2016-04-17 08:42:29,2016-06-26 20:41:49,0 days 04:08:11,0 days 08:42:29,70 days 20:41:49,3488.645066
182837,fd831ca1d79ae5c6fc3a679a22e5b8cf,2016-05-07,47.201220,210.316667,400,19,2016-05-07 08:45:28,2016-05-23 08:56:21,34 days 15:53:39,0 days 08:45:28,16 days 08:56:21,171.801070
182856,fda96e6cd3395dfae3e59cd4ac95f7d7,2016-04-24,892.175942,3112.200000,4900,199,2016-04-30 00:35:43,2016-06-26 18:33:35,0 days 06:16:25,6 days 00:35:43,63 days 18:33:35,2457.621025
183055,fdbee494c73577d5b1266d1fec5c6c9a,2016-05-15,237.044411,581.166667,400,47,2016-05-15 16:02:32,2016-06-11 12:16:42,15 days 12:33:18,0 days 16:02:32,27 days 12:16:42,577.365980
183102,fde60697758e68d617f471e49f65db75,2016-04-25,144.712380,365.066667,575,32,2016-04-25 19:29:03,2016-04-30 02:10:04,57 days 22:39:56,0 days 19:29:03,5 days 02:10:04,367.333009
183134,fdff1a7205bc3b9ab1dc5dc223782fc5,2016-03-31,2217.416537,6764.300000,4875,515,2016-03-31 09:00:17,2016-06-25 10:39:17,1 days 14:10:43,0 days 09:00:17,86 days 10:39:17,5971.228118
183649,fe35f74209d1056dd315ddb17681203d,2016-04-05,1414.184288,5866.233333,6450,422,2016-04-05 05:57:52,2016-06-25 11:50:25,1 days 12:59:35,0 days 05:57:52,81 days 11:50:25,4511.368128
184071,fe469488a23d4bdda47b83a659dcc103,2016-04-16,1111.043381,3565.050000,4850,289,2016-04-16 21:26:57,2016-06-26 00:46:31,1 days 00:03:29,0 days 21:26:57,71 days 00:46:31,3145.760888
184360,fed19d671569afe8a2f9fa0953dd25ca,2016-03-29,156.817933,476.216667,725,33,2016-03-29 20:09:42,2016-04-24 09:20:15,63 days 15:29:45,0 days 20:09:42,26 days 09:20:15,408.858290
184393,ff419a3476e21e269e340b5f1f05414e,2016-04-26,1244.233675,4105.133333,3100,242,2016-04-26 09:12:47,2016-06-26 18:12:34,0 days 06:37:26,0 days 09:12:47,61 days 18:12:34,3243.742322
184635,ff714a67ba8c6a108261cd81e3b77f3a,2016-03-28,1761.441307,7374.866667,8625,485,2016-03-28 08:11:39,2016-06-17 09:40:18,9 days 15:09:42,0 days 08:11:39,81 days 09:40:18,5467.937683
185120,fff482c704d36a1afe8b8978d5486283,2016-04-08,108.363408,461.550000,175,35,2016-04-08 09:05:12,2016-05-12 17:00:18,45 days 07:49:42,0 days 09:05:12,34 days 17:00:18,357.408919
185155,fffecccc49436c5389075b13209f0dfa,2016-05-06,1817.456677,5899.566667,12050,406,2016-05-06 21:06:15,2016-06-26 21:11:47,0 days 03:38:13,0 days 21:06:15,51 days 21:11:47,4915.494884
185561,ffff51a71f2f185ec5e97d59dbcd7a78,2016-05-04,1473.903652,4477.350000,6625,330,2016-05-04 22:42:48,2016-06-27 00:26:35,0 days 00:23:25,0 days 22:42:48,54 days 00:26:35,3918.825445